<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
    }
</style>
<md-content layout="row" layout-align="center-center" layout-padding>
    <table>
        <tr>
            <th></th>
            <th>eis</th>
            <th>eos</th>
            <th>ois</th>
            <th>oos</th>
            <th>sis</th>
            <th>sos</th>
            <th>us</th>
        </tr>
        <tr ng-repeat="sd in sds">
            <td align="center">{{sd}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].eis)}" align="center">{{idk[sd].eis}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].eos)}" align="center">{{idk[sd].eos}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].ois)}" align="center">{{idk[sd].ois}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].oos)}" align="center">{{idk[sd].oos}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].sis)}" align="center">{{idk[sd].sis}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].sos)}" align="center">{{idk[sd].sos}}</td>
            <td ng-style="{'background-color': heatmap(idk[sd].us)}" align="center">{{idk[sd].us}}</td>
        </tr>
    </table>
</md-content>
