<div class="container-fluid" layout="row" layout-align="center-center">
    <table>
        <tr>
            <th></th>
            <th>eis</th>
            <th>eos</th>
            <th>ois</th>
            <th>oos</th>
            <th>sis</th>
            <th>sos</th>
            <th>us</th>
        </tr>
        <tr ng-repeat="sd in sds">
            <td>{{sd}}</td>
            <td>{{idk[sd].eis}}</td>
            <td>{{idk[sd].eos}}</td>
            <td>{{idk[sd].ois}}</td>
            <td>{{idk[sd].oos}}</td>
            <td>{{idk[sd].sis}}</td>
            <td>{{idk[sd].sos}}</td>
            <td>{{idk[sd].us}}</td>
        </tr>
    </table>
</div>
